/*********************
    VOLLEDIGE PAGINA
**********************/
html{
    /* zodat van pagina tot pagina dingen smooth gebeuren */
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: black;


    color: white;

}
.projects{
    background-image: url(./assets/img/STROOM-W.svg);
    background-repeat: no-repeat;
    background-size: auto 300vw;

}
/* Scrollbar Styling */
body::-webkit-scrollbar {
    display: none;
}

/* a staat voor link */
a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: underline;
}
a:active{
    text-decoration: line-through;
}
p{
    font-family: 'testue2';
    font-size: 1vw;

}

h1{
    /* font-family is om de font aan te geven */
    font-family: 'c4v2';
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 2vw;

}

/*********************
    NAVIGATIE BAR
**********************/
.navbar{
    position: fixed;
    margin-left: 5vw;
    color: white;
}
.navbar h1:hover{
    text-shadow:  0 0 20px #fff;
}

.navcontent{
    display: none;
    margin-top: -12px;
    margin-left: -40px;
    text-decoration: none;
    list-style: none;
    font-family: 'testue2';
}
.navbar:hover .navcontent{
    display: block;
}



/*********************
        CONTENT
**********************/
/*** begin text ***/
.larst{
    padding-top: 3vh;
    width: 15vw;
    margin-left: 75vw;
    text-align: justify;
}

.projects{
    margin-top: 18%;
    padding-bottom: 25%;
}



/*** Werkhuis ***/
.werkhuis {
    /* flex is een soort grid systeem om u content flexibeler te maken en niet onder elkaar te plaatsen*/
    display: flex;
    width: 70vw;
    margin-left: 14vw;
    margin-top: 5.5%;
    padding-top: 9%;

}
.w1 img{
    width: 25vw;
}
.w1{
    margin-top: 22%;
    width: 25vw ;
}
.gebouw{
    width: 14vw;
    margin-left: 30vw;
    margin-top: 10%;
}
.plan{
    width: 14vw;
    margin-left: 42vw;
}

/*** Chaos atelier ***/
.chaos{
    display: flex;
    width: 100vw;
    margin-top: 20%;
}

.beads{
    width: 15vw;
    height: fit-content;
    margin-left: 5vw;
    margin-top: 16%;
}
.hoodie{
    width: 15vw;
    height: fit-content;
    margin-left: 2vw;
    margin-top: 16%;

}
.chaos div{
    text-align: center;
    margin-left: -15vw;
    margin-top: 8vh;
}
.chaos h1{
    margin:  0;
}
.xr{
    width: 25vw;
    height: 20vw;
}
.chaos p{
    width: 23vw;
    margin-left: 25vw;
    margin-top: 28%;

}


/*** Club Derive ***/
.club{
    margin-top: 22vw;
}
.c1{
    display: flex;
} 
.fort2{
    width: 19vw;
    height: fit-content;
    margin-top: 1.5%;
}
.fort1{
    margin-left: 20vw;
    width: 30vw;
    margin-top: -5%;
    height: fit-content;

}
.c2{
    display: flex;
}
.c2 img{
    width: 26vw;
    height: fit-content;
    margin-left: 7.8vw;
}
.ctext{
    width: 40vw;
    margin-left: 18vw;
    margin-top: 6%;
}

.blob{
    width: 20vw;
    margin-left: 65vw;
    margin-top: 10%;
    /* zodat de blob rond kan draaien, de rotation verwijst naar de keyframe rotation */
    animation: rotation 4s infinite linear;

}
.blob:hover{
    transform: scale(1);
}
/* dit zegt hoe het object moet ronddraaien (dan aan telkeens een frame die een px verschuift, stopmotion principe)*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/*** Contact ***/
.contact{
    width: 10vw;
    margin-top: 26%;
    margin-bottom: 20%;
    margin-left: 46vw;
    text-align: center;
}
.contact h1{
    margin-bottom: 2vh;
}
.contact p {
    padding: 0;
    margin: 0;
}



.insta:hover{
    text-shadow:  0 0 5px #fff;
}