html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: black;

    background-image: url(./assets/img/STROOM-W.svg);
    background-repeat: no-repeat;
    background-size: auto 300vw;
    background-position-y: 800px;

    color: white;

}
a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: underline;
}
a:active{
    text-decoration: line-through;
}
p{
    font-family: 'testue2';
    font-size: 1vw;

}

h1{
    font-family: 'c4v2';
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 2vw;

}
.navbar{
    position: fixed;
    margin-left: 5vw;
    color: white;
}
.navbar h1:hover{
    text-shadow:  0 0 20px #fff;
}

.navcontent{
    display: none;
    margin-top: -12px;
    margin-left: -40px;
    text-decoration: none;
    list-style: none;
    font-family: 'testue2';
}
.navbar:hover .navcontent{
    display: block;
}

svg {
    fill: white;
}

.projects{
    margin-top: 30%;
}



.werkhuis {
    display: flex;
    width: 70vw;
    margin-left: 14vw;

}
.w1 img{
    width: 25vw;
}
.w1{
    margin-top: 30%;
    width: 25vw ;
}
.gebouw{
    width: 14vw;
    margin-left: 30vw;
    margin-top: 10%;
}
.plan{
    width: 14vw;
    margin-left: 42vw;
}

.chaos{
    display: flex;
    width: 100vw;
    margin-top: 20%;
}

.beads{
    width: 15vw;
    height: fit-content;
    margin-left: 5vw;
    margin-top: 16%;
}
.hoodie{
    width: 15vw;
    height: fit-content;
    margin-left: 2vw;
    margin-top: 16%;

}
.chaos div{
    text-align: center;
    margin-left: -15vw;
    margin-top: 8vh;
}
.chaos h1{
    margin:  0;
}
.xr{
    width: 25vw;
    height: 20vw;
}
.chaos p{
    width: 23vw;
    margin-left: 25vw;
    margin-top: 26%;

}


/* Scrollbar Styling */
body::-webkit-scrollbar {
    display: none;
}



.club{
    margin-top: 27vw;
}

.c1{
    display: flex;
} 
.fort2{
    width: 19vw;
    height: fit-content;
    margin-top: 2.2%;
}
.fort1{
    margin-left: 20vw;
    width: 30vw;
    margin-top: -4%;
    height: fit-content;

}
.c2{
    display: flex;
}
.c2 img{
    width: 26vw;
    height: fit-content;
    margin-left: 7.8vw;
}
.ctext{
    width: 20vw;
    margin-left: 25vw;
    margin-top: 6%;
}

.contact{
    width: 10vw;
    margin-top: 35%;
    margin-bottom: 30%;
    margin-left: 70vw;
    text-align: center;
}
.contact h1{
    margin-bottom: 50px;
}
.contact p {
    margin-top: -20px;
}

.larst{
    padding-top: 3vh;
    width: 15vw;
    margin-left: 75vw;
    text-align: justify;
}

.insta:hover{
    text-shadow:  0 0 5px #fff;
}